@media (min-width: 0px) and (max-width: 800px) {
  .wrapper .main .navbar .navbar_search {
    width: 210px;
  }
  .wrapper .main .player_music .player_music_row {
    padding: 10px 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .main .player_music .player_music_row .player_music_info .player_music_block .player_music_block_info .player_music_duration {
    margin-left: 15px;
  }
  .wrapper .main .player_music .player_music_row .player_music_info .player_music_block .player_music_progress_container {
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .wrapper .main .player_music .player_music_row .player_music_controls {
    margin-top: 15px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .music_mute, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .music_hight, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .music_mute, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .music_hight, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .music_mute, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .music_hight {
    width: 28px;
  }
  .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .play_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .pause_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .add_btn, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .delete_btn, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .play_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .pause_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .add_btn, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .delete_btn, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .play_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .pause_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .add_btn, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .delete_btn {
    width: 32px;
  }
  .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .play_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .prev_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume .pause_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .play_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .prev_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns .pause_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .play_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .prev_audio, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_add .pause_audio {
    margin-right: 8px;
  }
  .wrapper .main .player_music .player_music_row .player_music_controls .player_music_btns, .wrapper .main .player_music .player_music_row .player_music_controls .player_music_volume {
    margin-right: 0px;
  }
  .wrapper .main .content_main {
    padding: 0px 5px 10px 5px;
  }
  .wrapper .main .content_main .audio_row {
    width: 100%;
    margin-left: 0px;
  }
  .wrapper .main .content_main .audio_row:hover .audio_row_content_one .audio_row_cover .audio_row_btns .audio_row_play {
    display: none;
  }
  .wrapper .main .content_radio {
    padding: 0px 5px 10px 5px;
  }
  .wrapper .main .content_radio .radio_row {
    width: 100%;
    margin-left: 0px;
  }
  .wrapper .main .content_radio .radio_row:hover .radio_row_cover .radio_row_btns .radio_row_play {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 390px) {
  .wrapper .main .player_radio .player_radio_row {
    padding: 10px 10px;
  }
  .wrapper .main .player_radio .player_radio_row .player_radio_controls {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 14px;
  }
}
@media (min-width: 801px) and (max-width: 980px) {
  .wrapper .main .player_music .player_music_row .player_music_info {
    max-width: 550px;
  }
  .wrapper .main .content_radio .radio_row {
    width: 46%;
  }
}