@media (min-width: 0px) and (max-width: 800px){
  .wrapper{
    .main{
      .navbar{
        .navbar_logo{
          .navbar_search{
            width: 210px;
          }
        }
      }
      .player_music{
        .player_music_row{
          padding: 10px 10px;
          justify-content: center;
          .player_music_info{
            .player_music_block{
              .player_music_block_info{
                .player_music_duration{
                  margin-left: 15px;
                }
              }
              .player_music_progress_container{
                margin-top: 2px;
                margin-bottom: 0px;
              }
            }
          }
          .player_music_controls{
            margin-top: 15px;
            width: 100%;
            justify-content: space-between;
            .player_music_volume,.player_music_btns,.player_music_add{
              .music_mute,.music_hight{
                width: 28px;
              }
              .play_audio,.pause_audio,.add_btn,.delete_btn{
                width: 32px;
              }
              .play_audio,.prev_audio,.pause_audio{
                margin-right: 8px;
              }
            }
            .player_music_btns,.player_music_volume{
              margin-right: 0px;
            }
          }
        }
      }
      .content_main{
        padding: 0px 5px 10px 5px;
        .audio_row{
          width: 100%;
          margin-left: 0px;
        }
        .audio_row:hover{
          .audio_row_content_one{
            .audio_row_cover{
              .audio_row_btns{
                .audio_row_play{
                  display: none;
                }
              }
            }
          }
        }
      }
      .content_radio{
        padding: 0px 5px 10px 5px;
        .radio_row{
          width: 100%;
          margin-left: 0px;
        }
        .radio_row:hover{
          .radio_row_cover{
            .radio_row_btns{
              .radio_row_play{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 1043px){
  .wrapper{
    .main{
      border-radius: 0px;
      .navbar{
        width: 94%;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 390px){
  .wrapper{
    .main{
      .navbar{
        .navbar_logo{
          .navbar_menu_logo{
            width: 60px;
          }
          .navbar_search{
            margin-left: 12px;
            width: 160px;
          }
        }
      }
      .player_radio{
        .player_radio_row{
          padding: 10px 10px;
          .player_radio_controls{
            width: 100%;
            justify-content: space-between;
            margin-top: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 801px) and (max-width: 980px){
  .wrapper{
    .main{
      .player_music{
        .player_music_row{
          .player_music_info{
            max-width: 550px;
          }
        }
      }
      .content_radio{
        .radio_row{
          width: 46%;
        }
      }
    }
  }
}